.sky-mailchimp {
	position: relative;

	.text-danger {
		display: none;
	}

	[has-error] .form-group[has-error] {
		.text-danger {
			display: block;
		}
	}
}

.sky-mailchimp-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;

	&.show {
		pointer-events: auto;
		opacity: 1;
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparentize(#fff, 0.25);
	}
}

.sky-mailchimp-loader-wrap {
	flex-grow: 0;
	width: 100%;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 50px;
	}
}

.sky-mailchimp-loader-content {
	$spinnerSize: 40px;

	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 0;
	width: 100%;
	padding-top: $spinnerSize + 10px;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		display: block;
		flex-grow: 0;
		width: $spinnerSize;
		height: $spinnerSize;
		margin-left: -20px;
		border-radius: $spinnerSize;
		border: 1px solid #333;
		border-bottom-color: transparent;
		animation: spinner 0.5s linear infinite;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
